{{template "admin/top.html" .}}
<div class="m-b-md"> <h3 class="m-b-none">{{msg . "adminSendEmailToUsers"}}</h3></div>

<div class="row">

<div class="col-sm-12">
	<form id="formContainer">
		<section class="panel panel-default">
			<header class="panel-heading font-bold">{{msg . "adminUserFilter"}}</header>
			<div class="panel-body">
				<div class="form-group">
					<label>{{msg . "adminSearchEmailUsername"}}</label>
					<input type="text" class="form-control" name="userFilterEmail" value="{{.str.userFilterEmail}}">
				</div>
				
				<div class="form-group">
					<label class="checkbox-inline"> <input type="checkbox" name="verified" value="1"> {{msg . "adminVerifiedFilter"}} </label>
				</div>
				
				<div class="form-group">
					<label>{{msg . "adminWhiteList"}}</label>
					<textarea type="text" rows="10" class="form-control" name="userFilterWhiteList">{{.str.userFilterWhiteList}}</textarea>
					{{msg . "adminEmailListTip"}}
				</div>
				
				<div class="form-group">
					<label>{{msg . "adminBlackList"}}</label>
					<textarea type="text" rows="10" class="form-control" name="userFilterBlackList">{{.str.userFilterBlackList}}</textarea>
					{{msg . "adminEmailListTip"}}
				</div>
			</div>
		</section>
		
		<section class="panel panel-default">
			<header class="panel-heading font-bold">{{msg . "adminEmail"}}</header>
			<div class="panel-body">
				<div class="form-group">
					<label>{{msg . "adminSelectOldEmail"}}</label>
					<select class="form-control old-emails">
						<option value="">{{msg . "adminSelectPlaceholder"}}</option>
						{{range $subject, $body := .map.oldEmails}}
							<option>
								{{$subject}}
							</option>
						{{end}}
					</select>
				</div>
				
				<div class="form-group">
					<label>{{msg . "adminSubject"}}</label>
					<input type="text" class="form-control" id="latestEmailSubject" name="latestEmailSubject" value="{{$.str.latestEmailSubject}}">
				</div>
				
				<div class="form-group">
					<label>{{msg . "adminBody"}}</label>
					<textarea type="text" rows="10" id="latestEmailBody" class="form-control" name="latestEmailBody">{{$.str.latestEmailBody}}</textarea>
				</div>
				<label class="checkbox-inline"> <input type="checkbox" id="saveAsOldEmail" name="saveAsOldEmail" value="1"> {{msg . "adminSaveAsOldEmail"}} </label>
			</div>
			
			<footer class="panel-footer text-right bg-light lter">
				<button type="submit" id="submit" class="btn btn-success btn-s-xs">{{msg . "adminSubmit"}}</button>
			</footer>
		</section>
	</form>
</div>

</div>

{{template "admin/footer.html" .}}
<script src="/public/admin/js/jquery-validation-1.13.0/jquery.validate.js"></script>
<script>
var oldEmails = eval("(" + {{json .map.oldEmails}} + ")");
$(function() {
	init_validator("#formContainer");
	
	$(".old-emails").change(function() {
		var subject = $(this).val();
		var body = oldEmails[subject];
		if(subject) {
			$("#latestEmailSubject").val(subject);
			$("#latestEmailBody").val(body);
			$("#saveAsOldEmail").prop("checked", false);
		}
	});
	
	$("#submit").click(function(e){
			e.preventDefault();
			var t = this;
			if($("#formContainer").valid()) {
				$(t).button('loading');
				ajaxPost("/adminEmail/sendToUsers", getFormJsonData("formContainer"), function(ret){
					$(t).button('reset')
					if(!ret.Ok) {
						art.alert(ret.Msg)
					} else {
						art.tips("{{msg . "adminSuccess"}}");
					}
				});
			}
		});
});
</script>

{{template "admin/end.html" .}}
